{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h2>Perfil de {{ user.username }}</h2>
    
<div class="top">
    <!-- Mostrar la foto de perfil actual -->
    {% if profile.profile_picture %}
        <!-- Agregar un modal para mostrar la foto de perfil completa -->
        <div id="modal" class="modal" style="display: none;">
            <span class="close" id="closeModal">&times;</span>
            <img src="{{ profile.profile_picture.url }}" alt="Foto de perfil" class="full-profile-picture ">
                <h1 class="user-name">{{ user.username }}</h1>
        </div>

        <img src="{{ profile.profile_picture.url }}" alt="Foto de perfil" class="profile-picture shadow-drop-center" id="profilePicture">
    {% else %}
        <p>No hay foto de perfil</p>
    {% endif %}

    <p>{{ user.username }}</p>
</div>

<div class="info">
    <h3>Información del Perfil</h3>
    <p>Email: {{ user.email }}</p>
    <p>Bio: {{ profile.bio }}</p>
</div>

<div class="BTI">

    <h3>Mi cuenta</h3>

    <!-- Mostrar sección de favoritos como un botón -->
    <button id="mostrarFavoritosBtn">Mostrar Favoritos</button>

    <!-- Panel de favoritos (inicialmente oculto) -->
<div id="panelFavoritos" style="display: none;">
    <h3>Favoritos</h3>
    {% csrf_token %}
    {% if profile.favorites.all %}
        <ul>
            {% for favorite in profile.favorites.all %}
            <li>
                <img src="{{ favorite.image.url }}" alt="{{ favorite.name }}" width="50" height="50">
                {{ favorite.name }} - Precio: {{ favorite.price }}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay favoritos</p>
    {% endif %}
</div>

    <!-- Botón para mostrar/ocultar el panel de edición -->
    <button id="editarPerfilBtn">Editar perfil</button>

    <!-- Panel de edición (inicialmente oculto) -->
    <div id="panelEdicion" style="display: none;">
        <!-- Formulario para actualizar la foto de perfil -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar perfil</button>
        </form>
        <!-- Agrega aquí más campos de edición según sea necesario -->
    </div>
</div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Obtener referencias a los elementos del DOM
            const mostrarFavoritosBtn = document.getElementById("mostrarFavoritosBtn");
            const panelFavoritos = document.getElementById("panelFavoritos");
            const editarPerfilBtn = document.getElementById("editarPerfilBtn");
            const panelEdicion = document.getElementById("panelEdicion");

            const profilePicture = document.getElementById("profilePicture");
            const modal = document.getElementById("modal");
            const closeModal = document.getElementById("closeModal");

            // Agregar un controlador de eventos al botón de favoritos
            mostrarFavoritosBtn.addEventListener("click", function () {
                // Alternar la visibilidad del panel al hacer clic en el botón
                panelFavoritos.style.display = panelFavoritos.style.display === "none" ? "block" : "none";
            });

            // Agregar un controlador de eventos al botón de edición
            editarPerfilBtn.addEventListener("click", function () {
                // Alternar la visibilidad del panel al hacer clic en el botón
                panelEdicion.style.display = panelEdicion.style.display === "none" ? "block" : "none";
            });

            // Agregar un controlador de eventos al clic en la foto de perfil
            profilePicture.addEventListener("click", function () {
                // Mostrar el modal al hacer clic en la foto de perfil
                modal.style.display = "block";
            });

            // Agregar un controlador de eventos para cerrar el modal
            closeModal.addEventListener("click", function () {
                // Cerrar el modal al hacer clic en la "x"
                modal.style.display = "none";
            });

            // Cerrar el modal si se hace clic fuera de la imagen
            window.addEventListener("click", function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            });
        });
    </script>

<style>

    .h2{
        padding-top: 60px;
    }

    .top{
        background-color: #E5CFF7; 
	    width: 300px; 
	    height: 285px; 
	    border-radius: 20px;  
	    border-style: solid; 
	    border-width: 1px; 
	    border-color: #9D76C1; 
	    margin-top: 10px;  
        margin-bottom: 20px; 
        padding-top: 30px; 
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        color: #242430; 
	    padding-bottom: 20px; 
        display: block;
    }

   
    .shadow-drop-center {
        animation: shadow-drop-center 1s linear both;
    }

    @keyframes shadow-drop-center {
        0% {
            box-shadow: 0 0 0 0 transparent;
        }
        100% {
            box-shadow: 0 0 20px 0 #5B0888;
        }
    }



    .info{
        background-color: #E5CFF7; 
	    width: 300px; 
	    height: 185px; 
	    border-radius: 20px;  
	    border-style: solid; 
	    border-width: 1px; 
	    border-color: #9D76C1; 
	    margin-top: 10px;  
        margin-bottom: 20px; 
        padding-top: 30px; 
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-align: center;
        color: #242430; 
	    padding-bottom: 20px; 
        display: block;
        text-align: center;
    }

    .info h3{
        padding-bottom: 15px;
        font-size: 26px;
    }

    .BTI {
    background-color: #E5CFF7;
    width: 750px;
    height: 485px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #9D76C1;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 30px;
    align-items: center;
    text-align: center;
    color: #242430;
    padding-bottom: 20px;
    position: absolute;
    left: 450px;
    right: 5px;
    top: 50%; /* Posición vertical en el centro */
    transform: translateY(-50%); /* Ajusta para centrar verticalmente */
}

.BTI h3{
    padding-bottom: 15px;
    font-size: 26px;
    }

    .BTI button{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
	    height: 45px; 
	    padding-left: 5px;
	    padding-right: 5px; 	
	    margin-bottom: 20px; 
	    margin-top: 10px; 	
	    background-color: #E5CFF7; 
	    border-color: #713ABE; 
	    border-style: solid; 
    	border-radius: 20px;	
	    width: 350px;   
        cursor: pointer;
    }

    .panelEdicion{
    width: 20px; 
    height: 20px;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
    margin-bottom: 50px;
    }

    textarea{
    background-color: #fbfbfb; 
	width: 350px; 
	height: 145px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #5B0888; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

    /* Estilos para el navbar */
    #navbar {
        z-index: 1; /* Ajusta el valor según sea necesario, pero debe ser más bajo que el modal */
        padding-bottom: 150px;
    }

    /* Estilos para la imagen de perfil circular */
    .profile-picture {
        border-radius: 50%;
        width: 150px; /* Ajusta el tamaño según sea necesario */
        height: 150px; /* Ajusta el tamaño según sea necesario */
        object-fit: cover; /* Para asegurarse de que la imagen cubra completamente el contenedor circular */
        cursor: pointer; /* Cambia el cursor al hacer clic en la foto de perfil */
    }

    /* Estilos para la imagen de perfil completa en el modal */
   
.full-profile-picture {
    display: flex;
    flex-direction: column; /* Cambia la dirección del flex a columna */
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    max-width: 90%;
    max-height: 90%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #e0e0e0;
}

.user-name {
    color: #fff;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
    padding-top: 600px;
}


    /* Estilos para el modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 3; /* Valor alto para asegurar que aparezca por encima del navbar */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9);
        padding-bottom: 150px;
    }

    /* Estilos para cerrar el modal */
    .close {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
    }

</style>

{% include 'footer.html' %}
{% endblock %}