{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LasDivinas</title>
    <title>-</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   <script src="https://kit.fontawesome.com/ee26d7fa70.js" crossorigin="anonymous"></script>
</head>
<body>
    <ul>
          <!-- Mostrar mensajes -->
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <header>
            <div class="back">
                <div class="menu container">
                    <a href="#" class="logo">Las Divinas</a>
                    <label for="menu">

                    </label>
                    <nav class="navbar">
                        <ul>
                            <li><a href="{% url 'Core:home' %}">Inicio</a></li>
                            <li><a href="{% url 'Core:productos' %}">Productos</a></li>
                            <li><a href="{% url 'Core:contacts' %}">Contacto</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                                <!-- Agregamos un enlace al nombre de usuario -->
                                <li><a href="{% url 'Core:otra_vista' username=user.username %}">@{{user.username}}</a></li>
                            {% else %}
                                <li><a href="{% url 'Core:login' %}">Iniciar sesión</a></li> 
                                <li><a href="{% url 'Core:registro' %}">Registrarse</a></li>
                            {% endif %}
                        </ul>
                 </nav>
                 <div>
                    <ul>
                        <li class="submenu">
                            <img src="{% static 'images/car.svg' %}" id="img-carrito" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script> <!--Biblioteca-->
        <script src="{% static 'js/script.js' %}"></script>
    {% block content %}{% endblock %}
</body>
</html>