<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>LasDivinas</h2>
    <ul>
          <!-- Mostrar mensajes -->
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        
        <li><a href="{% url 'Core:home' %}">Inicio</a></li>
        <li><a href="{% url 'Core:products' %}">Productos</a></li>

        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'logout' %}">cerrar sesión</a>
        </li>
        <li><a href="#">@{{user.username}}</a></li>
        {% else %}
        <li>
            <a href="{% url 'Core:login' %}">iniciar sesión</a>
        </li> 
        <li>
            <a href="{% url 'Core:registro' %}">registrarse</a>
        </li>
        {% endif %}

    {% block content %}{% endblock %}
</body>
</html>