{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LasDivinas</title>
    <title>-</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   <script src="https://kit.fontawesome.com/ee26d7fa70.js" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


</head>
<body>
    <ul>
          <!-- Mostrar mensajes -->
          {% if messages %}
                {% for message in messages %}
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                                // Llama a la función mostrarNotificacion con el contenido del mensaje
                                mostrarNotificacion("{{ message }}");
                          
                    });
                </script>
                {% endfor %}
            {% endif %}
        <header>
            <div class="back">
                <div class="menu container">
                    <a href="#" class="logo">Las Divinas</a>
                    <label for="menu"></label>
                    <nav class="navbar">
                        <ul>
                            <li><a href="{% url 'Core:home' %}">Inicio</a></li>
                            <li><a href="{% url 'Core:productos' %}">Productos</a></li>
                            <li><a href="{% url 'Core:contacts' %}">Contacto</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                                <li><a href="{% url 'Core:perfil' username=user.username %}">@{{user.username}}</a></li> 
                            {% else %}
                                <li><a href="{% url 'Core:login' %}">Iniciar sesión</a></li> 
                                <li><a href="{% url 'Core:registro' %}">Registrarse</a></li>
                            {% endif %}
                        </ul>
                 </nav>
                 <div>
                    <ul>
                        <li class="submenu">
                            <img src="{% static 'images/car.svg' %}" id="img-carrito" alt="">
                            <div id="carrito">
                                <table id="lista-carrito">
                                    <thead>
                                        <tr>
                                            <th>Imagen</th>
                                            <th>Nombre</th>
                                            <th>Precio</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td>Subtotal:</td>
                                            <td id="subtotal-precio">0.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td>Impuesto (7%):</td>
                                            <td id="impuesto-precio">0.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td>Total:</td>
                                            <td id="total-precio">0.00</td>
                                        </tr>
                                    </tfoot>
                                    
                                </table>
                                <a href="#" id="vaciar-carrito" class="btn-3">Vaciar carrito</a>
                                <a href="#" id="finalizar-compra-button" class="btn-3">Finalizar compra</a>
                                <script>
                                    document.addEventListener("DOMContentLoaded", function() {
                                        var agregarproductoButton = document.getElementById("finalizar-compra-button");
                                        agregarproductoButton.addEventListener("click", function() {
                                        window.location.href = "{% url 'Core:compra' %}";
                                        });
                                        });
                                </script>
                            </div>
                        </li>
                    </ul>
                </div>
        </div>
    </header>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script> <!--Biblioteca-->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const botonesAgregarCarrito = document.querySelectorAll('.agregar-carrito');
                const listaCarrito = document.querySelector('#lista-carrito tbody');
        
                // Recuperar productos del carrito almacenados en localStorage al cargar la página
                const carritoProductos = JSON.parse(localStorage.getItem('carrito')) || [];
             
                
                // Agregar productos del carrito almacenados en localStorage a la lista
                carritoProductos.forEach(producto => {
                    agregarProductoAlCarrito(producto);
                });
        
                botonesAgregarCarrito.forEach(boton => {
                    boton.addEventListener('click', comprarElemento);
                });
        
                function comprarElemento(event) {
                    event.preventDefault();
        
                    // Obtén la información del producto desde el contenedor del botón
                    const contenedorProducto = event.currentTarget.closest('.items');
                    const producto = obtenerInfoProducto(contenedorProducto);
        
                    // Agrega el producto al carrito y almacénalo en localStorage
                    agregarProductoAlCarrito(producto);
                    guardarCarritoEnLocalStorage();
                }
        
                function obtenerInfoProducto(contenedorProducto) {
                    const infoProducto = {
                        imagen: contenedorProducto.querySelector('img').src,
                        nombre: contenedorProducto.querySelector('.info-product h2').textContent,
                        precio: contenedorProducto.querySelector('.info-product .price').textContent,
                        id: contenedorProducto.getAttribute('data-id')
                    };
                    return infoProducto;
                }
        
                function agregarProductoAlCarrito(producto) {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>
                            <img src="${producto.imagen}" width="50">
                        </td>
                        <td>${producto.nombre}</td>
                        <td>${producto.precio}</td>
                        <td>
                            <a href="#" class="eliminar-elemento" data-id="${producto.id}">X</a>
                        </td>
                    `;
                    listaCarrito.appendChild(row);
        
                    // Actualiza los eventos de eliminar después de agregar un nuevo elemento
                    actualizarEventosEliminar();
                    actualizarCarrito();
                }
        
                function actualizarEventosEliminar() {
                    const botonesEliminar = document.querySelectorAll('.eliminar-elemento');
                    botonesEliminar.forEach(boton => {
                        boton.addEventListener('click', eliminarElemento);
                    });
                }
        
                function eliminarElemento(event) {
                    event.preventDefault();
                    const productoId = event.currentTarget.getAttribute('data-id');
                    const productoEliminar = document.querySelector(`#lista-carrito [data-id="${productoId}"]`);
                    productoEliminar.parentElement.parentElement.remove();
        
                    // Actualiza el carrito en localStorage después de eliminar un producto
                    guardarCarritoEnLocalStorage();
                    actualizarCarrito();
                }
        
                const vaciarCarritoBtn = document.getElementById('vaciar-carrito');
                vaciarCarritoBtn.addEventListener('click', vaciarCarrito);
        
                function vaciarCarrito() {
                    while (listaCarrito.firstChild) {
                        listaCarrito.removeChild(listaCarrito.firstChild);
                    }
        
                    // Vacía el carrito en localStorage
                    localStorage.removeItem('carrito');
                    actualizarCarrito();
                }
        
                // Función para almacenar el carrito en localStorage
                function guardarCarritoEnLocalStorage() {
                    const productosCarrito = [];
                    const filasCarrito = listaCarrito.querySelectorAll('tr');
        
                    filasCarrito.forEach(fila => {
                        const producto = {
                            imagen: fila.querySelector('img').src,
                            nombre: fila.querySelectorAll('td')[1].textContent,
                            precio: fila.querySelectorAll('td')[2].textContent,
                            id: fila.querySelector('.eliminar-elemento').getAttribute('data-id')
                        };
                        productosCarrito.push(producto);
                    });
        
                    // Almacena el carrito en localStorage como JSON
                    localStorage.setItem('carrito', JSON.stringify(productosCarrito));
                }

                function actualizarTotalCarrito() {
                    const subtotalPrecioElement = document.getElementById('subtotal-precio');
                    const impuestoPrecioElement = document.getElementById('impuesto-precio');
                    const totalPrecioElement = document.getElementById('total-precio');
                    const filasCarrito = listaCarrito.querySelectorAll('tr');

                    let subtotal = 0;
                    filasCarrito.forEach(fila => {
                    const precio = parseFloat(fila.querySelectorAll('td')[2].textContent.replace('$', ''));
                    subtotal += precio;
                    });

                    // Calcula el impuesto (7%)
                    const impuesto = subtotal * 0.07;

                    // Calcula el total sumando el subtotal y el impuesto
                    const total = subtotal + impuesto;

                    subtotalPrecioElement.textContent = subtotal.toFixed(2);
                    impuestoPrecioElement.textContent = impuesto.toFixed(2);
                    totalPrecioElement.textContent = total.toFixed(2);
                }

                // Llama a esta función cada vez que agregues, elimines o vacíes el carrito
                function actualizarCarrito() {
                    actualizarTotalCarrito();
                    guardarCarritoEnLocalStorage();
                }

                function obtenerProductosDelCarrito() {
                    return JSON.parse(localStorage.getItem('carrito')) || [];
                }
            });

            function mostrarNotificacion(mensaje, tipo) {
        // Configuración de Toastr
        toastr.options = {
            closeButton: true,
            progressBar: true,
            positionClass: 'toast-top-center',
            showDuration: 400,
            hideDuration: 1000,
            timeOut: 5000,
            extendedTimeOut: 1000
        };

        // Muestra la notificación según el tipo
        switch (tipo) {
            case 'success':
                toastr.success(mensaje);
                break;
            case 'error':
                toastr.error(mensaje);
                break;
            case 'warning':
                toastr.warning(mensaje);
                break;
            default:
                toastr.info(mensaje);
        }

      }


        </script>

    {% block content %}{% endblock %}
</body>
</html>
