{% load static %}
<footer>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <div class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img class="pequeña" src="{% static 'images/las divinas logo.jpeg' %}" alt="logo de LasDivinas">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>

            </div>
            <div class="box">
                <h2>CONTACTANOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
            </div>    
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>LasDivinas</b> -Todos los derechos Reservados </small>
    </div>
</footer>

{% block content %}{% endblock %}
</body>
</html>