{% extends 'base.html' %}
{% load static %}

{% block content %}

<body class="Productoos">

<section class="contenedor">
    <form id="formulario-busqueda">
        <input type="text" class="barra-busqueda" id="barra-busqueda" placeholder="Buscar">
    </form>
    <div class="categorias" id="categorias">
        {% for categoria, productos in categorias_con_productos.items %}
            <a href="#categoria-{{ categoria.name }}">{{ categoria.name }}</a>
        {% endfor %}
    </div>
</section>


    <div> 
        <div>
            <button type="button" class="btn btn-primary circular-btn" id="agregar-productos-button" style="font-size: 24px; position: fixed;">+</button>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    var agregarproductoButton = document.getElementById("agregar-productos-button");
                    agregarproductoButton.addEventListener("click", function() {
                    window.location.href = "{% url 'Core:agregar-productos' %}";
                    });
                    });
            </script>
        </div> 
    </div>

    
    <div class="CN1">
        {% for categoria, productos in categorias_con_productos.items %}
        <h1 id="categoria-{{ categoria.name }}">{{ categoria.name }}</h1>
    <div class="container-items">
        {% for producto in productos %}
        <div class="items" data-id="{{ producto.id }}">
            <figure>
                <img src="{{ producto.image.url }}" alt="{{ producto.name }}">
            </figure>
            <div class="info-product">
                <h2>{{ producto.name }}</h2>
                <p class="price">$ {{ producto.price }}</p>
                <a href="{% url 'Core:producto' producto.id %}">Más información</a>
                <a href="#" class="agregar-carrito btn-3" data-id="{{ producto.id }}">Agregar al carrito</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}

</body>

<style>
    .circular-btn {
    border-radius: 60%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 40px;
    right: 50px;
    transition: transform 0.3s;
    }
    
    .circular-btn:hover {
    background-color: #7270ec;
    transform: rotate(45deg);
    }
    
    /*Busqueda*/

    a {
    text-decoration: none;
}

.contenedor {
    width: 90%;
    max-width: 800%;
    margin: auto;
}


/*HEADRE*/

form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
} 

.barra-busqueda {
    width: 70%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
} 

.categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

.categorias a {
    color: #9b9b9b;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
} 

.categorias a.activo {
    color: black;
}

/* grid*/

.grid {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
    opacity: 1;
}

.grid .item {
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    width: calc(33.333333% -20px)
}

.grid .item-contenido {
    position: relative;
}

.grid .item img {
    width: 80%;
    cursor: pointer;
    vertical-align: top;
}


/* Overlay */

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay.activo {
    display: flex;
}

.overlay img {
    max-width: 100%;
}

.overlay .descripcion {
    display: block;
    background: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
    max-width: 50%;
}

.contenedor-img {
    position: relative;
}

.overlay #btn-cerrar-popup {
    background: none;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -20px;
}

.items {
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.items:hidden {
    display: none;
}

</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var formularioBusqueda = document.getElementById("formulario-busqueda");
        var barraBusqueda = document.getElementById("barra-busqueda");

        formularioBusqueda.addEventListener("submit", function(event) {
            event.preventDefault();
            var term = barraBusqueda.value.toLowerCase();
            filterProductos(term);
        });

        // Para seleccionar los enlaces que hice en categoria
        var linksCategorias = document.querySelectorAll('.categorias a');

        // Para agregar eventos de clicks en cada enlace
        linksCategorias.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault();

                // Obtiene el destino del enlace
                var targetId = link.getAttribute('href').substring(1);

                // Obtiene el elemento con el ID correspondiente
                var targetElement = document.getElementById(targetId);

                // El tagetElement lo usare para hacer el desplazamiento hacia la categoria.
                targetElement.scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                });
            });
        });
    });

    function filterProductos(term) {
        var items = document.querySelectorAll('.items');
        items.forEach(function(item) {
            var nombreProducto = item.querySelector('h2').innerText.toLowerCase();
            if (nombreProducto.includes(term)) {
                item.style.display = "block";
            } else {
                item.style.display = "none";
            }
        });
    }
</script>

{% include 'footer.html' %}
{% endblock %}